body{
    padding: 0px;
    margin: 0px;
    background: #FFFFFF;
}



/*HEADER*/
* {
    padding: 0px;
    margin:0px;
}
.header{
    background: white;
    padding: 6px 24px;
    text-align: left;
    color: #023047;
    margin: 0;
    letter-spacing: 1px;
    font-size: 24px;
    text-transform: uppercase;
}
.presentacion img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    
}

.menu{
    background-color: #023047;
    margin: 1px;
    overflow: hidden; /* Overflow controla que pasa con el contenido si sobrepasa el espacio (hidden lo oculta) */  
}
.menu a{
    font: menu;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
    box-sizing: border-box; /* border box hace que el tamaño INCLUYA el padding dentro del height y width */
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 24px;

}
.menu a:hover{
    background: #fb8500;
    color:#023047;
}
.header .menu {
    margin:auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}


.menu li a{
    background-color: #023047;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}
.menu li {
    list-style: none;
}

.menu > li{
    float: left;
}

.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li a:hover{
    background-color: #FB8500;
    color: #023047;
}

.submenu {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .submenu a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      .submenu a:hover {background-color: #FB8500}
  
      .menu:hover .submenu {
        display: block;
      }
      .submenu {
        list-style: none;
    }





/*MAIN*/

.main-content {
    margin: 30px;
    justify-content: center;

}

.contenedorFlex {
    width: 90px;
    display: flex;
}

.contenedorIntegrante{
    display: flex;
    background-color: #023047;
    margin: 15px;
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    height: 200px;

}

.contenedorIntegrante a{
    padding: 20px;
    margin: 15%;
    text-align: center;
    text-decoration: none;
    color: #f9f9f9;
}

.fotoIntegrante{
    border-radius: 45px;
    padding: 15px;
    height: 50%;
    width: 50%;
    align-self: center;

}







/*FOOTER*/
footer{
    background: #023047;
    height:auto;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 40px;
    color: white;
}

    .footer-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 3rem;
    }

    .footer-content p{
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }

.redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
    .redes li{
        margin: 0 10px
    }
    .redes a{
        text-decoration: none;
        color: #ffffff;
    }
        .redes a i{
            font-size: 1.1rem;
        }
        .redes a:hover i{
            color:#fb8500
        }


.footer-bottom{
    background: #023047;
    width:100vw;
    padding:20px 0;
    text-align:center;
}

    .footer-bottom p{
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }






/**/
h1 {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 23px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; 

} 

h3 { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; 
} 

p ,li{ 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
}

blockquote {
     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
}

pre {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; 
        }
